<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout-default}">

<head>
	<!-- <link rel="stylesheet" th:href="@{/stylesheets/vendors/select2.min.css}" /> -->
</head>

<body>
	
<section layout:fragment="conteudo">
	
	<!-- HEADER E BOTÃO CADASTRO  -->
	<th:block th:replace="fragments/header-cadastro :: headerCadastro ('animals', ${animal.novo}, 'animal', ${animal.nome})"></th:block>
	
	<div class="container-fluid">
	
		<form method="POST" class="form-vertical  js-form-loading" 
			th:object="${animal}" th:action="@{/animals/novo}">
			
			<!-- MENSAGEM DE ERRO NA VALIDAÇÃO -->
			<div th:replace="fragments/mensagem-erro-validacao :: alert"></div>
			
			<!-- MENSAGEM DE SUCESSO -->
			<div th:replace="fragments/mensagem-sucesso :: alert"></div>
			
			<input type="hidden" th:field="*{codigo}"/>
			 
			 <div class="row">
				<div class="col-sm-4  form-group  qp-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="control-label">Nome do Animal</label>
					<input id="nome" type="text" class="form-control" th:field=*{nome}/>
				</div>

					<div class="col-sm-3  form-group  qp-required">
  						<label for="raca">Raça</label>
						<select id="raca" class="form-control  js-select2" th:field="*{raca}">
							<option value="">-- Selecione a raça --</option>
							<optgroup label="Cachorros"></optgroup>
								<option th:each="racaCachorro : ${racasCachorro}" th:value="${racaCachorro.codigo}"
									th:text="${racaCachorro.nome}">Raça</option>
							<optgroup label="Gatos"></optgroup>
								<option th:each="racaGato : ${racasGato}" th:value="${racaGato.codigo}"
									th:text="${racaGato.nome}">Raça</option>
						</select>
					</div>
					
					<div class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('peso')} ? has-error">
						<label for="peso" class="control-label">Peso</label>
						<div class="input-group">
							<input id="peso" type="text" class="form-control  js-numero-inteiro" th:field=*{peso}/>
							<div class="input-group-addon">Kg</div>
						</div>
					</div>
					
					<div class="col-lg-3  col-sm-6  form-group  qp-required" th:classappend="${#fields.hasErrors('sexo')} ? has-error">
						<label class="control-label">Sexo</label>
						<div>
							<th:block th:each="sexo : ${sexos}">
		  						<div class="radio  radio-inline">
			    					<input th:id="|id_${sexo}|" type="radio" th:value="${sexo}" th:field="*{sexo}"/>
			    					<label th:for="|id_${sexo}|" th:text="#{|tipoSexoAnimal.${sexo}|}">Sexos</label>
		    					</div>
	  						</th:block>
						</div>
					</div>
				</div>

				<div class="row">
								
					<div class="form-group  col-sm-4  qp-required" th:classappend="${#fields.hasErrors('pessoa')} ? has-error">
						<label class="control-label" for="nomePessoa">Dono</label>
						<div class="input-group">
							<input id="nomePessoa" type="text" readonly="readonly" class="form-control"
								th:placeholder="${animal.novo}? 'Clique na lupa para pesquisar o cliente' : |*{pessoa.nome} *{pessoa.sobrenome}|"/>
							<input id="codigoPessoa" type="hidden" th:field="*{pessoa}"/>
								<span class="input-group-btn">
								<button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada" 
									data-toggle="modal" data-target="#pesquisaRapidaPessoa" >
									<i class="glyphicon  glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>

				</div>		
	  		
		<!-- BOTÕES DO FORMULÁRIO -->
		<div th:replace="fragments/botoes-formulario :: botoes-form"></div>
	
		</form>
	</div>
	
	<th:block th:replace="pessoa/pesquisa-rapida-pessoa :: pesquisaRapidaPessoa"></th:block>
	
</section>
	
	<th:block layout:fragment="javascript-extra">
		<!--<script th:src="@{/javascripts/raca.cadastro-rapido.js}"></script>  -->
		<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
		<script th:src="@{/javascripts/pessoa.pesquisa-rapida.js}"></script>
		
	</th:block>
</body>
</html>