<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:data="http://www.thymeleaf.org/extras/data" 
	layout:decorate="~{layout/layout-default}">
	
<body>
	
<head>
<link rel="stylesheet" type="text/css"
	href="../../static/stylesheets/vendors/bootstrap-datepicker.standalone.min.css"
	th:href="@{/stylesheets/vendors/bootstrap-datepicker.standalone.min.css}" />
</head>
<section layout:fragment="conteudo">
		
		<!-- HEADER E BOTÃO CADASTRO  -->
		<th:block th:replace="fragments/header-cadastro :: headerCadastro ('agendamentos',  ${agendamento.nova}, 'agendamento', |n° ${agendamento.codigo}|)"></th:block>
		 
		<div class="container-fluid">
			<form method="POST" class="form-vertical  js-form-loading  js-formulario-principal" th:action="@{/agendamentos/novo}" th:object="${agendamento}">
				
				<input type="hidden" id="uuid" th:field="*{uuid}"/>
				<input type="hidden" id="codigo" th:field="*{codigo}"/>
				
				<!-- MENSAGEM DE ERRO NA VALIDAÇÃO -->
				<div th:replace="fragments/mensagem-erro-validacao :: alert"></div>

				<!-- MENSAGEM DE SUCESSO -->
				<div th:replace="fragments/mensagem-sucesso :: alert"></div>

				<div class="row">
					<div class="col-sm-4">
						<div class="aw-box  js-valor-total-box-container">
							<div class="aw-box__icon">
								<i class="fa  fa-usd  fa-3x"></i>
							</div>
							<div class="aw-box__value">R$<span class="js-valor-total-box" th:text="${{agendamento.valorTotal}}">0,00</span></div>
							<div class="aw-box__title">Total</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-tag  fa-3x"></i>
							</div>
							<div class="aw-box__value" id="statusAgendamento" th:text="${agendamento.status.descricao}">Orçamento</div>
							<div class="aw-box__title">Status</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-calendar  fa-3x"></i>
							</div>
							<div class="aw-box__value">
								<span class="js-tooltip" th:if="${agendamento.diasCriacao == 0}">Hoje</span>
								<span class="js-tooltip" th:if="${agendamento.diasCriacao == 1}">Ontem</span>
								<span class="js-tooltip" th:if="${agendamento.diasCriacao > 1}">Há [[${agendamento.diasCriacao}]] dias</span>
							</div>
							<div class="aw-box__title">Criação</div>
						</div>
					</div>
				</div>
			
				<div class="row">

					<div class="col-sm-1  form-group" th:classappend="${#fields.hasErrors('dataAgendamento')} ? has-error">
						<label for="dataAgendamento" class="control-label">Data</label>
						<input id="dataAgendamento" type="text"
							class="form-control  js-date" th:field=*{dataAgendamento} 
							data-provide="datepicker" data-date-orientation="bottom" data-date-language="pt-BR"
							data-date-today-highlight="true" data-date-autoclose="true" autocomplete="off" 
							 th:disabled="${agendamento.salvarNegado}"/>
					</div>
					
					<div class="form-group  col-sm-1" th:classappend="${#fields.hasErrors('horarioAgendamento')} ? has-error">
							<label class="control-label" for="horarioAgendamento">Horário</label>
							<input type="text" class="form-control  js-horario" id="horarioAgendamento" 
								th:field="*{horarioAgendamento}" th:disabled="${agendamento.salvarNegado}"/>
					</div>
					
					<div class="form-group  col-sm-2">
						<label class="control-label" for="valorDesconto">Valor do desconto</label>
						<div class="input-group">
							<div class="input-group-addon">R$</div>
							<input type="text" maxlength="14" class="form-control  js-money" id="valorDesconto" 
								th:field="*{valorDesconto}" data:valor="${valorDesconto}" 
								th:disabled="${agendamento.salvarNegado}"/>
						</div>
					</div>

					<div class="form-group  col-sm-4  qp-required" th:classappend="${#fields.hasErrors('dataAgendamento')} ? has-error">
						<label class="control-label" for="nomePessoa">Cliente</label>
						<div class="input-group">
						
							<input id="nomePessoa" type="text" readonly="readonly"
								class="form-control" 
								th:placeholder="${agendamento.nova}? 'Clique na lupa para pesquisar o cliente' : |*{pessoa.nome} *{pessoa.sobrenome}|"/>
								<!-- th:placeholder="${agendamento.nova}? 'Clique na lupa para pesquisar o cliente' : |*{agendamentos[0].animal.pessoa.nome} *{agendamentos[0].animal.pessoa.sobrenome}"/> -->

								
								<!-- th:field="*{pessoa.nome}" -->
								
								<input id="codigoPessoa" type="hidden" th:field="*{pessoa}"/>
								<!-- <input id="codigoPessoa" type="hidden" th:value="${agendamento.nova} ? '' : *{agendamentos[0].animal.pessoa.codigo}"/>  --><!-- th:field="*{pessoa}" -->
								<span class="input-group-btn">
								<button class="btn  btn-default  js-tooltip" type="button"
									title="Pesquisa avançada" data-toggle="modal"
									data-target="#pesquisaRapidaPessoa" th:disabled="${agendamento.salvarNegado}">
									<i class="glyphicon  glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
					
 					<div class="form-group  col-sm-4" th:classappend="${#fields.hasErrors('dataAgendamento')} ? has-error">
						<label for="animal" class="control-label">Animal</label>
						<!-- <span th:text="*{pessoa.animal}"></span> -->
						<input type="hidden" id="inputHiddenAnimalSelecionado" /><!-- th:value="*{animal} != null ? *{animal.codigo}" -->
						<select id="animal" class="form-control  js-select2" data:url="@{/animals}" disabled th:disabled="${agendamento.salvarNegado}"> <!-- th:field="*{animal}"  -->
		                    <option value="">Selecione um Cliente primeiro</option>
		                </select>
					</div>

<!-- 					 <span th:each="agendamentos : ${agendamento.agendamentos}">
						<span th:each="animal,animalStatus : ${agendamentos.animal}" th:text="${animalStatus.count}"></span>
					</span> -->
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-12">
					<textarea class="form-control" id="observacao" rows="5"
						placeholder="Alguma observação sobre esse agendamento?"
						th:field="*{observacao}"
						th:disabled="${agendamento.salvarNegado}">
					</textarea>
				</div>
			</div>
						
			<div class="row">
					<div class="form-group  col-sm-4" th:classappend="${#fields.hasErrors('dataAgendamento')} ? has-error">
						<label for="servico" class="control-label">Serviço</label>
						<select id="servico" class="form-control  js-select2" th:disabled="${agendamento.salvarNegado}"><!-- th:field="*{servicos}" -->
		                    <option value="">-- Selecione um serviço --</option>
		                    <option th:each="servico : ${servicos}" th:value="${servico.codigo}" th:text="${servico.descricao}">Serviço</option> 
		                </select>
					</div>
<!-- 					
					<div class="form-group  col-sm-4">
						<button class="btn  btn-primary  js-adicionar-servico-animal-btn">Adicionar</button>
					</div>
					 -->
					 
					<div class="aw-page-header-controls  col-xs-2" th:if="${agendamento.salvarPermitido}">
						<a class="btn  btn-primary  js-adicionar-servico-animal-btn" href="#">
							<i class="glyphicon  glyphicon-plus"></i> 
							<span class="hidden-xs  hidden-sm">Adicionar</span>
						</a>
					</div>
					
				</div>

				
				<!-- #### DETALHES DO AGENDAMENTO #### -->
 				<div class="qp-tabela-servicos  js-tabela-servicos-agendamentos-container" data:valor="${valorTotalServicos}">
					<th:block th:replace="agendamento/tabela-servicos-agendamento"/>
				</div>
				


				<!-- BOTÕES DO FORMULÁRIO -->
				<div class="row" style="clear: both" th:if="${agendamento.salvarPermitido}">
					<div class="col-lg-12">
						<div class="btn-group">
							<button type="submit" class="btn  btn-primary  js-submit-btn"
								data:acao="agendar">Agendar</button>
							<button type="button" class="btn  btn-primary  dropdown-toggle"
								data-toggle="dropdown">
								<span class="caret"></span>
							</button>

							<ul class="dropdown-menu">
								<li><a href="#" class="js-submit-btn" data:acao="salvar">Orçamento</a></li>
								<li><a href="#" class="js-submit-btn"
									data:acao="enviarEmail">Agendar e enviar por e-mail</a></li>
							</ul>
						</div>

						<button class="btn  btn-danger  js-submit-btn"
							data:acao="cancelar" th:unless="${agendamento.nova}">Cancelar</button>
					</div>
				</div>
		</form>
		</div>
		
		<th:block th:replace="pessoa/pesquisa-rapida-pessoa :: pesquisaRapidaPessoa"></th:block>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/javascripts/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
		
		<!--<script th:src="@{/javascripts/agendamento.combo-animal.js}"></script>  -->
		<script th:src="@{/javascripts/pessoa.pesquisa-rapida.js}"></script>
		<script th:src="@{/javascripts/agendamento.tabela-adicionar.js}"></script>
		<script th:src="@{/javascripts/agendamento.js}"></script>
		<script th:src="@{/javascripts/venda.botoes-submit.js}"></script>
		
	</th:block>
</body>

</html>