<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorate="~{layout/layout-default}">

<head>
	
</head>

<body>

<section layout:fragment="conteudo">

	<!-- HEADER E BOTÃO CADASTRO  -->
	<th:block th:replace="fragments/header-pesquisa :: headerPesquisa ('agendamentos/novo', 'agendamento')"></th:block>
	
	<div class="container-fluid">
		<form method="GET" th:object="${agendamentoFilter}" th:action="@{/agendamentos}">
	
			<div class="row">
				<div class="form-group  col-sm-1">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label for="status" class="control-label">Status</label>
					<select id="status" class="form-control" th:field="*{status}">
	                    <option value="">Todos os status</option>
	                    <option th:each="status : ${todosStatus}" th:value="${status}" th:text="${status.descricao}"></option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-5">
					<label class="control-label" for="nomePessoa">Nome cliente</label>
					<input type="text" class="form-control" id="nomePessoa" th:field="*{nomePessoa}"/>
				</div>
			
				<div class="form-group  col-sm-3">
					<label for="cpf" class="control-label">CPF</label>
					<input type="text" class="form-control  js-cpf-number" id="cpf" th:field="*{cpfPessoa}"/>
				</div>
				
			</div>
			
			<div class="row">
					
<!-- 					<div class="col-sm-1  form-group" th:classappend="${#fields.hasErrors('dataAgendamento')} ? has-error">
						<label for="dataAgendamento" class="control-label">Data</label>
						<input id="dataAgendamento" type="text"
							class="form-control  js-date" th:field=*{dataAgendamento} 
							data-provide="datepicker" data-date-orientation="bottom" data-date-language="pt-BR"
							data-date-today-highlight="true" data-date-autoclose="true" autocomplete="off" 
							 th:disabled="${agendamento.salvarNegado}"/>
					</div> -->
					
				<div class="form-group  col-sm-4">
					<label for="dataAgendamentoInicial">Data do agendamento</label>
					<div class="form-inline">
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataAgendamentoInicial" 
							th:field="*{desdeAgendamento}" 
							data-provide="datepicker" data-date-orientation="bottom" data-date-language="pt-BR"
							data-date-today-highlight="true" data-date-autoclose="true" autocomplete="off"/>
						<label for="dataAgendamentoFinal" class="aw-form-label-between">até</label>
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataAgendamentoInicial" 
							th:field="*{ateAgendamento}" 
							data-provide="datepicker" data-date-orientation="bottom" data-date-language="pt-BR"
							data-date-today-highlight="true" data-date-autoclose="true" autocomplete="off" />
					</div>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="valorMinimo">Valor total</label>
					<div class="form-inline">
						<input type="text" class="form-control  aw-form-control-inline-sm  js-money" 
							id="valorMinimo" th:field="*{valorMinimo}"/>
						<label for="valorMaximo" class="aw-form-label-between">até</label>
						<input type="text" class="form-control  aw-form-control-inline-sm  js-money" 
							id="valorMaximo" th:field="*{valorMaximo}"/>
					</div>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="dataCriacaoInicial">Data de criação</label>
					<div class="form-inline">
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataCriacaoInicial" 
							th:field="*{desdeCriacao}" 
							data-provide="datepicker" data-date-orientation="bottom" data-date-language="pt-BR"
							data-date-today-highlight="true" data-date-autoclose="true" autocomplete="off"/>
						<label for="dataCriacaoFinal" class="aw-form-label-between">até</label>
						<input type="text" class="form-control  aw-form-control-inline-sm  js-date"
							id="dataCriacaoInicial" th:field="*{ateCriacao}" 
							data-provide="datepicker" data-date-orientation="bottom" data-date-language="pt-BR"
							data-date-today-highlight="true" data-date-autoclose="true" autocomplete="off"/>
					</div>
				</div>
				
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
			
		</form>
		
			<div class="table-responsive  qp-tabela-pesquisa">
				<table class="table  table-hover">
		            <thead>
		            	<tr>
		                	<th>Código</th>
		                	<th>Cliente</th>
		                	<th>Animal - Serviço</th>
		                	<th>Data de agendamento</th>
		                	<th>Data de criação</th>
		                	<th>Valor total</th>
		                	<th>Atendente</th>
		                	<th>Status</th>
		                 	<th class="table-pesq-col-acoes">Ações</th>
						</tr>
					</thead>
					
		            <tbody>
						<tr th:each="agendamento : ${pagina.conteudo}">
							<td th:text="${agendamento.codigo}"></td>
							<td th:text="|${agendamento.pessoa.nome} ${agendamento.pessoa.sobrenome}|"></td>
							<td>
								<span th:each="agendamentoServico : ${agendamento.agendamentos}" 
									th:text="|${agendamentoServico.animal.nome} - ${agendamentoServico.servico.descricao}${agendamentoServicoStat.last ? '' : ', '}|"></span>
							</td>
							<td th:text="${{agendamento.dataHoraAgendamento}}"></td>
							<td th:text="${{agendamento.dataCriacao}}"></td>
							<td th:text="|R$ ${{agendamento.valorTotal}}|"></td>
							<td th:text="${agendamento.usuario.nome}"></td>
							<td th:text="${agendamento.status.descricao}"></td>
		                 	<td class="table-pesq-col-acoes">
			   					<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" th:href="@{/agendamentos/{codigo}(codigo=${agendamento.codigo})}">
			   						<i class="glyphicon glyphicon-pencil"></i>
			   					</a>
		                 	</td>
		                </tr>
		                
		                <tr th:if="${pagina.vazia}">
		                	<td colspan="6" class="text-center">Nenhuma agendamento encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<!-- PAGINAÇÃO -->
			<th:block th:replace="fragments/paginacao :: paginacao"></th:block>
		</div>
	
</section>

<th:block layout:fragment="javascript-extra">
	<!-- <script th:src="@{/javascripts/excluir-modal.js}"></script> -->
	<script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/javascripts/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script th:src="@{/javascripts/pessoa.mask-cpf.js}"></script>
</th:block>

</body>
</html>