<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	

	<div class="qp-tabela-servico" th:each="agendamento: ${agendamentos}">
		<div class="qp-tabela-servico__coluna  qp-tabela-servico__coluna--detalhes">
			<span class="qp-tabela-servico-descricao" th:text="${agendamento.servico.descricao}">Banho</span>
			<span class="label  label-default" th:text="${agendamento.animal.nome}">Buffy</span>
			<!--<span class="qp-tabela-animal-nome">Dona Maria</span>  -->
		</div>
		
		<div class="qp-tabela-servico__coluna  qp-tabela-servico__coluna--valores">
			<div class="qp-tabela-servico-valor-grande">R$[[${agendamento.valorUnitario}]]</div>
		</div>
	
	</div>