<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>QuatroPatas</title>
	
	<!--
		O HREF é default, caso de algum erro no thymeleaf ele usa o HREF.
		Caso o TH:HREF funcione corretamente, ele ignora o HREF.
	-->
	<link rel="stylesheet" type="text/css" href="../../static/layout/stylesheets/vendors.min.css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/layout/stylesheets/algaworks.min.css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/layout/stylesheets/application.css" th:href="@{/layout/stylesheets/application.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/quatropatas.css" th:href="@{/stylesheets/quatropatas.css}"/>

</head>
<body>
	<div class="aw-layout-page">
		
		<!-- Replacing a DIV pelo navbar (barra-navegacao.html) -->
		<div th:replace='layout/fragments/barra-navegacao :: navbar'></div>

		<!-- Replacing a DIV pelo menulateral (menu-lateral.html) -->
		<div th:replace='layout/fragments/menu-lateral :: layout-sidebar'></div>

		<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>
		
		<!-- Replacing a DIV pelo footer (footer.html) -->
		<div th:replace='layout/fragments/footer :: layout-footer'></div>

	</div>	

	<!--
		O SRC é default, caso de algum erro no thymeleaf ele usa o SRC.
		Caso o TH:SRC funcione corretamente, ele ignora o SRC.
	-->
	<script src="../../static/layout/javascripts/vendors.min.js" th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script src="../../static/layout/javascripts/algaworks.min.js" th:src="@{/layout/javascripts/algaworks.min.js}"></script>
	
	<script src="../../static/javascripts/vendors/jquery.masknumber.min.js" th:src="@{/javascripts/vendors/jquery.masknumber.min.js}"></script>
	<script src="../../static/layout/javascripts/masknumber-moeda.js" th:src="@{/layout/javascripts/masknumber-moeda.js}"></script>
	
	<th:block layout:fragment="javascript-extra"></th:block>

</body>
</html>