<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>QuatroPatas</title>

	<!--
		O HREF é default, caso de algum erro no thymeleaf ele usa o HREF.
		Caso o TH:HREF funcione corretamente, ele ignora o HREF.
	-->
	<link rel="stylesheet" type="text/css" href="../../static/layout/stylesheets/vendors.min.css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/layout/stylesheets/algaworks.min.css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="aw-layout-simple-page">

	<div class="aw-layout-simple-page__container">
	
		<th:block layout:fragment="conteudo"/>
		
		<footer class="aw-layout-footer  js-content">
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; 2017 QuatroPatas. Todos os direitos reservados.</span>
			</div>
		</footer>
	
	</div>

	<!--
		O SRC é default, caso de algum erro no thymeleaf ele usa o SRC.
		Caso o TH:SRC funcione corretamente, ele ignora o SRC.
	-->
	<script src="../../static/layout/javascripts/vendors.min.js" th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script src="../../static/layout/javascripts/algaworks.min.js" th:src="@{/layout/javascripts/algaworks.min.js}"></script>

</body>
</html>