<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorate="~{layout/layout-default}">

<head>
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pesquisa-cidades.css}"/> -->
</head>

<body>

<section layout:fragment="conteudo">
	
	<!-- HEADER E BOTÃO CADASTRO  -->
	<th:block th:replace="fragments/header-pesquisa :: headerPesquisa ('cidades/novo', 'cidade')"></th:block>
	
	<div class="container-fluid">
		
		<form method="GET" class="form-vertical  js-form-loading" th:object="${cidadeFilter}">
			<div class="row">
				<div class="form-group  col-sm-4">
					
					<label for="estado">Estado</label> <select id="estado"
						class="form-control" th:field="*{estado}">
						<option value="">Todos os Estados</option>
						<option th:each="estado : ${estados}" th:value="${estado.codigo}"
							th:text="${estado.nome}">Estado</option>
					</select>
				</div>
			
				<div class="col-sm-8  form-group">
					<label for="nome">Nome da Cidade</label> <input id="nome"
						type="text" class="form-control" th:field=*{nome} />
				</div>
			</div>
	
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  qp-tabela-pesquisa">
			<table id="tabela-cidades" class="table  table-hover">
				<thead class="aw-table-header-solid">
					<tr>
						<th>Cidade</th>
						<th class="table-pesq-cidade-col-estado">Estado</th>
						<th class="table-pesq-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cidade : ${cidades}">
						<td th:text="${cidade.nome}"></td>
						<td th:text="${cidade.estado.sigla}">Estado</td>
						<td class="table-pesq-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')">
							<div class="btn-group">
									<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/cidades/{codigo}(codigo=${cidade.codigo})}">
										<i class="glyphicon glyphicon-pencil" style="cursor:pointer"></i>
									</a>
									<a class="btn  btn-link  btn-xs" title="Excluir">
										<i class="glyphicon glyphicon-trash" style="cursor:pointer"
											data-toggle="modal" data-target="#confirmaExclusaoModal"  
											data:nome="${cidade.nome}" 
											data:url-deletar="@{/cidades/{codigo}(codigo=${cidade.codigo})}"></i>
									</a>
							</div>
						</td>
					</tr>
					<tr th:if="${cidades.empty}">
						<td colspan="5" class="text-center">Nenhuma cidade cadastrada!</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- MODAL DE EXCLUSAO -->
	<th:block th:replace="fragments/modal-exclusao :: modalExclusao ('cidades', 'cidade')"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/excluir-modal.js}"></script>
</th:block>

</body>
</html>