/*
#######################
# UTILIDADES
#######################
*/

.qp-glyphicon-large {
	font-size: 18px;
}

/* Asterisco para labels obrigatórias */
.qp-required > .control-label:after{
	content: "*";
}

/*
#######################
# COMPONENTES
#######################
*/

/* Field Action */
.qp-field-action {
	display: flex;
}

.qp-field-action__icon {
	margin: 6px 0 0 5px;
}


/*
######################
# PÁGINAS DO SISTEMA
######################
*/
.qp-tabela-servicos {
	margin-bottom: 15px;
}

.qp-tabela-servicos__vazio {
	padding: 15px 15px;
	
	border: 1px dashed #ddd;
	
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #555;
}

/* Tabela de pesquisas */
.qp-tabela-pesquisa {
	margin-top:20px;
}

.qp-table-checkbox {
	width: 80px;
	text-align: center;
}

.table-pesq-col-codigo, .table-pesq-col-acoes{
	width: 80px;
	text-align: center;
}

/*
.btn-group a{
	color: black;
    text-decoration: none;
}
*/
/*
###################################
# CUSTOMIZAÇÃO DE COMPONENTES
###################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}


/* Box */
.negativo .aw-box__value {
	color: red;
}

/* ############### Tabela Item ############### */
.qp-tabela-servico {
	position: relative; /* Para que o painel de exclusão apareça dentro da linha */
	
	padding: 15px 0;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.qp-tabela-servico:after {
	clear: both;
	display: block;
    content: "";
}

.qp-tabela-servico ~ .qp-tabela-servico {
	border-top: 1px solid #ddd;
}

.qp-tabela-servico__coluna {
	padding: 0 10px;
}

/*
.qp-tabela-servico__coluna--foto {
	float: left;
	width: 60px;
	
	text-align: center;
}
*/
.qp-tabela-servico__coluna--valores {
	padding-right: 0px;
}

.qp-tabela-servico__coluna--detalhes, .qp-tabela-servico__coluna--valores {
	margin-left: 60px;
}

.qp-tabela-servico-descricao {
	font-weight: 500;
	font-size: 1.1em;
	display: block;
}

.qp-tabela-animal-nome {
	color: #aaa;
	display: block;
	font-weight: 200;
}

/*
.qp-tabela-servico-campo-quantidade {
	width: 30px;
	text-align: right;
}

/*.
.qp-tabela-servico-valor-pequeno {
	font-weight: 300;
	font-size: 1em;
}
*/


.qp-tabela-servico-valor-medio {
	font-weight: 300;
	font-size: 1.3em;
}


.qp-tabela-servico-valor-grande {
	font-weight: 300;
	font-size: 1.6em;
}

.qp-tabela-servico__painel-exclusao {
    position: absolute;
    top: 0;
    right: 100000px;
	height: 100%;
    width: 50%;
    
    text-align: center;
    padding-top: 35px;
    
	background-color: #f0ad4e;
	
	opacity: 0;
	transition: opacity 0.5s;
}

.solicitando-exclusao .qp-tabela-servico__painel-exclusao {
	right: 0;
	opacity: 1;
}

.qp-tabela-servico__titulo-exclusao {
    display: block;
    margin-bottom: 5px;
    
	color: #fff;
    font-size: 1.3em;
}
@media (min-width: 768px) { /* screen-sm-min */
	.qp-tabela-servico__painel-exclusao {
		width: 40%;
		padding-top: 10px;
	}
	
	.qp-tabela-servico__coluna {
		float: left;
		margin-left: 0px;
	}
	
	.qp-tabela-servico__coluna--detalhes {
		width: calc(70% - 30px);
	}
	
	.qp-tabela-servico__coluna--valores {
		width: calc(30% - 30px);
		text-align: right;
	}
}