/*
#######################
# UTILIDADES
#######################
*/

.qp-glyphicon-large {
	font-size: 18px;
}

/* Asterisco para labels obrigatórias */
.qp-required > .control-label:after{
	content: "*";
}

/*
#######################
# COMPONENTES
#######################
*/

/* Field Action */
.qp-field-action {
	display: flex;
}

.qp-field-action__icon {
	margin: 6px 0 0 5px;
}


/*
######################
# PÁGINAS DO SISTEMA
######################
*/
.qp-tabela-servicos {
	margin-bottom: 15px;
}

.qp-tabela-servicos__vazio {
	padding: 15px 15px;
	
	border: 1px dashed #ddd;
	
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #555;
}

/* Colunas - Tabela de pesquisas */
.qp-tabela-pesquisa {
	margin-top:20px;
}

.qp-table-checkbox {
	width: 80px;
	text-align: center;
}

.qp-tabela-pesquisa table tr th {
	border-bottom-width: 1px;
}

.qp-tabela-pesquisa table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

.table-pesq-col-codigo, .table-pesq-col-acoes{
	width: 72px;
	text-align: center;
}

/* Colunas - Pesquisa de usuários */
.table-pesq-usuarios-col-status {
	width: 30px;
	text-align: center;
}

/* Colunas - Pesquisa de raças */
.table-pesq-raca-col-especie {
	width: 220px;
}

/* Colunas - Pesquisa de animal */
.table-pesq-animal-col-raca {
	width: 200px;
}

.table-pesq-animal-col-dono {
	width: 300px;
}

.table-pesq-animal-col-sexo {
	width: 120px;
}

/*
.btn-group a{
	color: black;
    text-decoration: none;
}
*/
/*
###################################
# CUSTOMIZAÇÃO DE COMPONENTES
###################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}


/* Box */
.negativo .aw-box__value {
	color: red;
}

/* MENU LATERAL */
.aw-menu__item>a {
    color: #f5f5f5;
}

.aw-menu__item.is-expanded {
    background: #4a4a4a;
}

.aw-layout-sidebar, .aw-layout-simple-page {
    background-color: #333;
}

.aw-menu__item>a:focus, .aw-menu__item>a:hover {
    background: #999;
}

.aw-menu__item.is-expanded>.aw-menu__list {
    background: #333;
}

.aw-menu__item.is-expanded {
    border-left-color: #196e9a;
}

.aw-box__icon, .aw-menu__item.is-active>a {
    color: #bdbdbd;
}

.navbar-default {
    background-color: #196e9a;
    border-color: #0d3448;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #bdbdbd;
}

/* SELECT2 RESPONSIVIDADE */
.select2-container {
    display: block;
    width: 100% !important;
}

.form-control, output {
    display: block;
    width: 100% !important;
}

.select2-container .select2-selection--single {
	height: 32px;
}


/* ############### Tabela Item ############### */
.qp-tabela-servico {
	position: relative; /* Para que o painel de exclusão apareça dentro da linha */
	
	padding: 15px 0;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.qp-tabela-servico:after {
	clear: both;
	display: block;
    content: "";
}

.qp-tabela-servico ~ .qp-tabela-servico {
	border-top: 1px solid #ddd;
}

.qp-tabela-servico__coluna {
	padding: 0 10px;
}

/*
.qp-tabela-servico__coluna--foto {
	float: left;
	width: 60px;
	
	text-align: center;
}
*/
.qp-tabela-servico__coluna--valores {
	padding-right: 0px;
}

.qp-tabela-servico__coluna--detalhes, .qp-tabela-servico__coluna--valores {
	margin-left: 60px;
}

.qp-tabela-servico-descricao {
	font-weight: 500;
	font-size: 1.1em;
	display: block;
}

.qp-tabela-animal-nome {
	color: #aaa;
	display: block;
	font-weight: 200;
}

/*
.qp-tabela-servico-campo-quantidade {
	width: 30px;
	text-align: right;
}

/*.
.qp-tabela-servico-valor-pequeno {
	font-weight: 300;
	font-size: 1em;
}
*/


.qp-tabela-servico-valor-medio {
	font-weight: 300;
	font-size: 1.3em;
}


.qp-tabela-servico-valor-grande {
	font-weight: 300;
	font-size: 1.6em;
}

.qp-tabela-servico__painel-exclusao {
    position: absolute;
    top: 0;
    right: 100000px;
	height: 100%;
    width: 50%;
    
    text-align: center;
    padding-top: 35px;
    
	background-color: #f0ad4e;
	
	opacity: 0;
	transition: opacity 0.5s;
}

.solicitando-exclusao .qp-tabela-servico__painel-exclusao {
	right: 0;
	opacity: 1;
}

.qp-tabela-servico__titulo-exclusao {
    display: block;
    margin-bottom: 5px;
    
	color: #fff;
    font-size: 1.3em;
}
@media (min-width: 768px) { /* screen-sm-min */
	.qp-tabela-servico__painel-exclusao {
		width: 40%;
		padding-top: 10px;
	}
	
	.qp-tabela-servico__coluna {
		float: left;
		margin-left: 0px;
	}
	
	.qp-tabela-servico__coluna--detalhes {
		width: calc(70% - 30px);
	}
	
	.qp-tabela-servico__coluna--valores {
		width: calc(30% - 30px);
		text-align: right;
	}
}