<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:data="http://www.thymeleaf.org/extras/data" 
	layout:decorate="~{layout/layout-default}">

<body>

<head>
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/vendors/bootstrap-datepicker.standalone.min.css" th:href="@{/stylesheets/vendors/bootstrap-datepicker.standalone.min.css}"/>
</head>
<section layout:fragment="conteudo">
	
	
	<!-- HEADER E BOTÃO CADASTRO  -->
	<th:block th:replace="fragments/header-cadastro :: headerCadastro ('pessoas', ${pessoa.novo}, 'pessoa', ${pessoa.nome})"></th:block>
	
	<div class="container-fluid">
	
		<form method="POST" class="form-vertical  js-form-loading" th:object="${pessoa}" th:action="@{/pessoas/novo}">
		
			<!-- MENSAGEM DE ERRO NA VALIDAÇÃO -->
			<div th:replace="fragments/mensagem-erro-validacao :: alert"></div>
			
			<!-- MENSAGEM DE SUCESSO -->
			<div th:replace="fragments/mensagem-sucesso :: alert"></div>
			
			<input type="hidden" th:field="*{codigo}"/>
				
			<div class="row">
				<div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="input-produto-nome" class="control-label">Nome</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{nome}/>
				</div>
					
				<div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('sobrenome')} ? has-error">
					<label for="input-produto-nome" class="control-label">Sobrenome</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{sobrenome}/>
				</div>
					
			</div>
		
			<div class="row">	
				<div class="col-sm-4  form-group">
					<label for="input-produto-nome" class="control-label">Nascimento</label>
					<input id="input-produto-nome" type="text" class="form-control  js-date" th:field=*{nascimento}
						data-provide="datepicker" data-date-orientation="bottom" data-date-language="pt-BR"
						data-date-today-highlight="true" data-date-autoclose="true" autocomplete="off"/>
				</div>
				
				<div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('cpf')} ? has-error">
					<label for="input-produto-nome" class="control-label">CPF</label>
					<input id="input-produto-nome" type="text" class="form-control  js-cpf-number" th:field=*{cpf}/>
				</div>
			
				<div class="form-group" th:classappend="${#fields.hasErrors('sexo')} ? has-error">
						
					<label class="col-sm-2 control-label">Sexo</label>
					<div class="col-sm-4">
						<th:block th:each="sexo : ${sexos}">
	 						<div class="radio  radio-inline">
		    					<input th:id="|id_${sexo}|" type="radio" th:value="${sexo}" th:field="*{sexo}"/>
		    					<label th:for="|id_${sexo}|" th:text="#{|tipoSexo.${sexo}|}">Sexos</label>
		   					</div>
						</th:block>
					</div>
				</div>
			</div>
			
			<div class="row">	
				
				<div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('endereco.bairro')} ? has-error">
					<label for="input-produto-nome" class="control-label">Bairro</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{endereco.bairro}/>
				</div>
				
				<div class="col-sm-4  form-group" th:classappend="${#fields.hasErrors('endereco.logradouro')} ? has-error">
					<label for="input-produto-nome" class="control-label">Logradouro</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{endereco.logradouro}/>
				</div>
				
				<div class="col-sm-1  form-group" th:classappend="${#fields.hasErrors('endereco.numero')} ? has-error">
					<label for="input-produto-nome" class="control-label">Número</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{endereco.numero}/>
				</div>
				
				<div class="col-sm-1  form-group" th:classappend="${#fields.hasErrors('endereco.cep')} ? has-error">
					<label for="input-produto-nome" class="control-label">CEP</label>
					<input id="input-produto-nome" type="text" class="form-control  js-cep-number" th:field=*{endereco.cep}/>
				</div>
				
				<div class="col-sm-2  form-group" th:classappend="${#fields.hasErrors('endereco.complemento')} ? has-error">
					<label for="input-produto-nome" class="control-label">Complemento</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{endereco.complemento}/>
				</div>
			</div>
			
			<div class="row">	
			
 				<div class="col-sm-4  form-group">
					<label for="input-produto-nome" class="control-label">Telefone</label>
					<input id="input-produto-nome" type="text" class="form-control  js-phone-number" th:field=*{telefones[0].numero}/>
				</div>
				
				<div class="col-sm-4  form-group">
					<label for="input-produto-nome" class="control-label">Celular</label>
					<input id="input-produto-nome" type="text" class="form-control  js-phone-number" th:field=*{telefones[1].numero}/>
				</div>

				<div class="col-sm-4  form-group">
					<label for="input-produto-nome" class="control-label">Email</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{emails[0].endereco}/>
				</div>

			</div>
			
			<div class="row">
				
				<div class="form-group  col-sm-6">
					<label for="estado" class="control-label">Estado</label>
					<select id="estado" class="form-control" th:field="*{endereco.estado}">
	                    <option value="">-- Selecione o estado --</option>
	                    <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">Estado</option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-6">
					<label for="cidade" class="control-label">Cidade</label>
					<div class="qp-field-action">
						<input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.codigo}"/>
						<select id="cidade" class="form-control" data:url="@{/cidades}" th:field="*{endereco.cidade}">
						</select>
						
						<div class="qp-field-action__icon  js-img-loading" style="display: none">
							<img th:src="@{/images/mini-loading.gif}"/>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- BOTÕES DO FORMULÁRIO -->
			<div th:replace="fragments/botoes-formulario :: botoes-form"></div>
	
		</form>
	
	</div>
	
</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/pessoa.mask-cpf.js}"></script>
		<script th:src="@{/javascripts/pessoa.mask-cep.js}"></script>
		<script th:src="@{/javascripts/pessoa.combo-estado-cidade.js}"></script>
		<script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/javascripts/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
	</th:block>
</body>
</html>