<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorate="~{layout/layout-default}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pesquisa-pessoas.css}"/>
</head>

<body>

<section layout:fragment="conteudo">


	<!-- HEADER E BOTÃO CADASTRO  -->
	<th:block th:replace="fragments/header-pesquisa :: headerPesquisa ('pessoas/novo', 'pessoa')"></th:block>
	
	<div class="container-fluid">
		<form method="GET" class="form-vertical  js-form-loading" th:object="${pessoaFilter}">
			
			<!-- MENSAGEM DE SUCESSO OU FALHA DA EXCLUSÃO-->
			<div th:replace="fragments/mensagem-exclusao :: mensagemExclusao"></div>
			
			<div class="row">
				<div class="col-sm-4  form-group">
					<label for="input-produto-nome">Nome</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{nome}/>
				</div>
					
				<div class="col-sm-4  form-group">
					<label for="input-produto-nome">Sobrenome</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{sobrenome}/>
				</div>
				
				<div class="col-sm-4  form-group">
					<label for="input-produto-nome" class="control-label">CPF</label>
					<input id="input-produto-nome" type="text" class="form-control  js-cpf-number" th:field=*{cpf}/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  qp-tabela-pesquisa">
			<table id="tabela-pessoas" class="table  table-hover">
				<thead class="aw-table-header-solid">
					<tr>
						<th class="table-pesq-pessoa-col-codigo">Nome</th>
						<th class="table-pesq-pessoa-col-codigo">Sobrenome</th>
						<th class="table-pesq-pessoa-col-codigo">Email</th>
						<th class="table-pesq-pessoa-col-codigo">Nascimento</th>
						<th class="table-pesq-pessoa-col-codigo">CPF</th>
						<th class="table-pesq-pessoa-col-sexo">Sexo</th>
						<th class="table-pesq-pessoa-col-codigo">Endereço</th>
						<th class="table-pesq-pessoa-col-codigo">Telefones</th>
						<th class="table-pesq-pessoa-col-codigo">Cidade/Estado</th>
						<th class="table-pesq-col-acoes">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pessoa : ${pessoas}">
						<td th:text="${pessoa.nome}"></td>
						<td th:text="${pessoa.sobrenome}"></td>
						
						<td>
							<span th:each="email : ${pessoa.emails}" th:text="|${email.endereco}${emailStat.last ? '' : ', '}|"></span>
						</td>
						
						<td th:text="${pessoa.nascimento}">NASCIMENTO</td>
						<td th:text="${pessoa.cpf}"></td>
						<td th:text="#{|tipoSexo.${pessoa.sexo}|} == 'Masculino' ? M : F"></td>
						<td th:text="|${pessoa.endereco.logradouro}, ${pessoa.endereco.numero} - ${pessoa.endereco.bairro} ${pessoa.endereco.cep}|"></td>
						
						<td>
							<span th:each="telefone : ${pessoa.telefones}" th:text="|${telefone.numero}${telefoneStat.last ? '' : ', '}|"></span>
						</td>
						
						<td th:text="|${pessoa.endereco.cidade.nome}/${pessoa.endereco.cidade.estado.sigla}|"></td>
						<td class="table-pesq-col-acoes">
						
							<div class="btn-group">
										<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" th:href="@{/pessoas/{codigo}(codigo=${pessoa.codigo})}">
											<i class="glyphicon glyphicon-pencil" style="cursor:pointer"></i>
										</a>
										<a class="btn  btn-link  btn-xs  js-tooltip" title="Excluir">
											<i class="glyphicon glyphicon-remove" style="cursor:pointer"
												data-toggle="modal" data-target="#confirmaExclusaoModal"  
												data:nome="${pessoa.nome}" 
												data:url-deletar="@{/pessoas/{codigo}(codigo=${pessoa.codigo})}"></i>
										</a>
							</div>
						</td>
					</tr>
					<tr th:if="${pessoas.empty}">
						<td colspan="13" class="text-center">Nenhum pessoa cadastrada!</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- MODAL DE EXCLUSAO -->
	<th:block th:replace="fragments/modal-exclusao :: modalExclusao ('pessoas', 'pessoa')"></th:block>
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/excluir-modal.js}"></script>
</th:block>

</body>
</html>