<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorate="~{layout/layout-default}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pesquisa-pessoas.css}"/>
</head>

<body>

<section layout:fragment="conteudo">


	<!-- HEADER E BOTÃO CADASTRO  -->
	<th:block th:replace="fragments/header-pesquisa :: headerPesquisa ('pessoas/novo', 'pessoa')"></th:block>
	
	<div class="container-fluid">
		<form method="GET" class="form-vertical  js-form-loading" th:object="${pessoaFilter}">
			
			<div class="row">
				<div class="col-sm-4  form-group">
					<label for="input-produto-nome">Nome</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{nome}/>
				</div>
					
				<div class="col-sm-4  form-group">
					<label for="input-produto-nome">Sobrenome</label>
					<input id="input-produto-nome" type="text" class="form-control" th:field=*{sobrenome}/>
				</div>
				
				<div class="col-sm-4  form-group">
					<label for="input-produto-nome" class="control-label">CPF</label>
					<input id="input-produto-nome" type="text" class="form-control  js-cpf-number" th:field=*{cpf}/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  qp-tabela-pesquisa">
			<table id="tabela-pessoas" class="table  table-hover">
				<thead class="aw-table-header-solid">
					<tr>
						<th class="table-pesq-pessoa-col-codigo">Nome</th>
						<th class="table-pesq-pessoa-col-codigo">Sobrenome</th>
						<th class="table-pesq-pessoa-col-codigo">Email</th>
						<th class="table-pesq-pessoa-col-codigo">Nascimento</th>
						<th class="table-pesq-pessoa-col-codigo">CPF</th>
						<th class="table-pesq-pessoa-col-sexo">Sexo</th>
						<th class="table-pesq-pessoa-col-codigo">CEP</th>
						<th class="table-pesq-pessoa-col-codigo">Rua</th>
						<th class="table-pesq-pessoa-col-codigo">Número</th>
						<th class="table-pesq-pessoa-col-codigo">Logradouro</th>
						<th class="table-pesq-pessoa-col-codigo">Telefone</th>
						<th class="table-pesq-pessoa-col-codigo">Celular</th>
						<th class="table-pesq-pessoa-col-codigo">Cidade/Estado</th>
						<th class="table-pesq-pessoa-col-acoes">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pessoa : ${pessoas}">
						<td th:text="${pessoa.nome}"></td>
						<td th:text="${pessoa.sobrenome}"></td>
						<td>EMAIL</td>
						<td th:text="${pessoa.nascimento}">NASCIMENTO</td>
						<td th:text="${pessoa.cpf}"></td>
						<td th:text="#{|tipoSexo.${pessoa.sexo}|}"></td>
						<td th:text="${pessoa.endereco.cep}"></td>
						<td th:text="${pessoa.endereco.bairro}"></td>
						<td th:text="${pessoa.endereco.numero}"></td>
						<td th:text="${pessoa.endereco.logradouro}"></td>
						<td>TELEFONE</td>
						<td>CELULAR</td>
						<td th:text="|${pessoa.endereco.cidade.nome}/${pessoa.endereco.cidade.estado.sigla}|"></td>
						<td class="table-pesq-pessoa-col-acoes">
						
						<div class="btn-group">
									<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/pessoas/{codigo}(codigo=${pessoa.codigo})}">
										<i class="glyphicon glyphicon-pencil" style="cursor:pointer"></i>
									</a>
									<a class="btn  btn-link  btn-xs" title="Excluir">
										<i class="glyphicon glyphicon-trash" style="cursor:pointer"
											data-toggle="modal" data-target="#confirmaExclusaoModal"  
											data:nome="${pessoa.nome}" 
											data:url-deletar="@{/pessoas/{codigo}(codigo=${pessoa.codigo})}"></i>
									</a>
						</div>
						</td>
					</tr>
					<tr th:if="${pessoas.empty}">
						<td colspan="13" class="text-center">Nenhum pessoa cadastrada!</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- MODAL DE EXCLUSAO -->
	<th:block th:replace="fragments/modal-exclusao :: modalExclusao ('pessoas', 'pessoa')"></th:block>
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/excluir-modal.js}"></script>
</th:block>

</body>
</html>