<script id="tabela-pesquisa-rapida-pessoa" type="text/x-handlebars-template">


	<div class="table-responsive  qp-tabela-simples"
		style="margin-top: 15px">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th class="col-sm-2">Nome</th>
					<th class="col-sm-2">Sobrenome</th>
				</tr>
			</thead>

			<tbody>
				{{#if .}}
					{{#each .}}
						<tr data-codigo="{{codigo}}" data-nome="{{nome}}" data-sobrenome="{{sobrenome}}" class="js-pessoa-pesquisa-rapida">
							<td>{{nome}}</td>
							<td>{{sobrenome}}</td>
						</tr>
					{{/each}}
				{{else}}
					<tr>
						<td colspan="2">Nenhum cliente encontrado</td>
					</tr>
				{{/if}}
			</tbody>
		</table>
	</div>
	
</script>