<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout-default}">
	
<head>
	<title>Dashboard</title>
</head>

	<section layout:fragment="conteudo">
	
	<div class="page-header">
		<div class="container-fluid">
			<h1>Dashboard</h1>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-heartbeat  fa-3x"></i>
					</div>
					<div class="aw-box__value">R$xxxx</div>
					<div class="aw-box__title">Valor do estoque (a receber?)</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-paw  fa-3x"></i>
					</div>
					<div class="aw-box__value">[[${totalAnimais}]]</div>
					<div class="aw-box__title">Total de animais</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-users  fa-3x"></i>
					</div>
					<div class="aw-box__value">[[${totalClientes}]]</div>
					<div class="aw-box__title">Total de clientes</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-usd  fa-3x"></i>
					</div>
					<div class="aw-box__value">R$[[${{agendamentosNoAno}}]]</div>
					<div class="aw-box__title">Agendamentos no ano</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-signal  fa-3x"></i>
					</div>
					<div class="aw-box__value">R$[[${{agendamentosNoMes}}]]</div>
					<div class="aw-box__title">Agendamentos no mês</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-shopping-cart  fa-3x"></i>
					</div>
					<div class="aw-box__value">R$[[${{ticketMedioNoAno}}]]</div>
					<div class="aw-box__title">Ticket médio no ano</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-6">
				<div class="aw-graph-box">
					<div class="aw-graph-box__header">
						<h2 class="aw-graph-box__title">Agendamentos por mês <small>últimos 6 meses</small></h2>
					</div>
					<div class="aw-graph-box__content">
						<!--<div class="aw-graph-box__no-data">
							<i class="fa  fa-line-chart  fa-2x"></i>
							<span>Não há dados</span>
						</div>-->
						<div>
							<canvas id="graficoAgendamentosPorMes" height="160"></canvas>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="aw-graph-box">
					<div class="aw-graph-box__header">
						<h2 class="aw-graph-box__title">Agendamentos por origem <small>últimos 6 meses</small></h2>
					</div>
					<div class="aw-graph-box__content">
						<div class="aw-graph-box__no-data">
							<i class="fa  fa-line-chart  fa-2x"></i>
							<span>Não há dados</span>
						</div>
						<div>
							<canvas id="barChart" height="160"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script src="../../static/javascripts/vendors/Chart.min.js" th:src="@{/javascripts/vendors/Chart.min.js}"></script>
	<script src="../../static/javascripts/dashboard.graficos.js" th:src="@{/javascripts/dashboard.graficos.js}"></script>
</th:block>

</html>