<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout-default}">

<body>

<section layout:fragment="conteudo">

	<!-- HEADER E BOTÃO CADASTRO  -->
	<th:block th:replace="fragments/header-cadastro :: headerCadastro ('racas', ${raca.novo}, 'raça', ${raca.nome})"></th:block>
	
	<div class="container-fluid">
	
		<form method="POST" class="form-vertical  js-form-loading" 
			th:object="${raca}" th:action="@{/racas/novo}">
			
			<!-- MENSAGEM DE ERRO NA VALIDAÇÃO -->
			<div th:replace="fragments/mensagem-erro-validacao :: alert"></div>
			
			<!-- MENSAGEM DE SUCESSO -->
			<div th:replace="fragments/mensagem-sucesso :: alert"></div>
			
			<input type="hidden" th:field="*{codigo}"/>
			 
			<div class="row">
				<div class="col-sm-6  form-group  qp-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field=*{nome}/>
				</div>
			
				<div class="col-sm-6  form-group  qp-required" th:classappend="${#fields.hasErrors('especie')} ? has-error">
					<label for="especie" class="control-label">Especie</label>
						<select id="especie" class="form-control  js-select2" th:field="*{especie}">
							<option value="">Selecione a especie</option>
							<option th:each="especie : ${especies}" th:value="${especie}" th:text="#{|tipoEspecie.${especie}|}"></option>
						</select>
						
				</div>
			</div>
			
			
			<!-- BOTÕES DO FORMULÁRIO -->
			<div th:replace="fragments/botoes-formulario :: botoes-form"></div>
	
		</form>
	</div>
</section>
</body>
</html>