<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute" 
	layout:decorate="~{layout/layout-default}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pesquisa-racas.css}"/>
</head>

<body>

<section layout:fragment="conteudo">


<div class="page-header">
	<div class="container-fluid">
		<h1>
			Pesquisa de raça
		</h1>
	</div>
</div>

<div class="container-fluid">

	<form method="GET" class="form-vertical  js-form-loading" th:object="${racaFilter}">
		<div class="form-group">
			<div class="input-group">
				<input id="nome" type="text" th:field="*{nome}" class="form-control" placeholder="Pesquise pelo nome da raça..."/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</form>
	
	<div class="table-responsive">
		<table id="tabela-racas" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
			<thead class="aw-table-header-solid">
				<tr>
					<th class="aw-table-checkbox">
						<input type="checkbox">
					</th>
					<th class="table-pesq-raca-col-codigo">Código</th>
					<th>Nome</th>
					<th class="table-pesq-raca-col-espécie">Espécie</th>
					<th class="table-pesq-raca-col-acoes">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="raca : ${racas}">
					<td class="aw-table-checkbox"><input type="checkbox"></td>
					<td th:text="${raca.codigo}" class="text-center"></td>
					<td><a th:href="@{/racas/{codigo}(codigo=${raca.codigo})}" th:text="${raca.nome}"></a></td>
					<td th:text="#{|tipoEspecie.${raca.especie}|}"></td>
					<td class="table-pesq-raca-col-acoes">
						<div class="btn-group">
								<a th:href="@{/racas/{codigo}(codigo=${raca.codigo})}"><i class="fa  fa-pencil" style="cursor:pointer"></i></a>
								<i class="fa  fa-trash" style="cursor:pointer"
									data-toggle="modal" data-target="#confirmaExclusaoModal"  
									data:nome="${raca.nome}"></i>
						</div>
					</td>
				</tr>
				<tr th:if="${racas.empty}">
					<td colspan="5">Nenhuma raça cadastrada!</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="confirmaExclusaoModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form th:action="@{/racas}" method="POST">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Excluir raça</h4>
				</div>
				<div class="modal-body">
					<span>Tem certeza?</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>
			</form>
		</div>
	</div>
</div>

</section>

<th:block layout:fragment="javascript-extra">
	<script>
	$('#confirmaExclusaoModal').on('show.bs.modal', function (event){
		  var botao = $(event.relatedTarget); // Botao que acionou o modal
		  var nome = botao.data('nome');
		  
		  var modal = $(this);
		  modal.find('.modal-body span').html('Tem certeza que deseja excluir o <strong>' + nome + '</strong>?');
	});
	</script>
	
</th:block>

</body>
</html>