<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorate="~{layout/layout-default}">

<head>
	<!--<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pesquisa-racas.css}"/>  -->
</head>

<body>

<section layout:fragment="conteudo">


<div class="page-header">
	<div class="container-fluid">
		<div class="row">
				<div class="col-sm-10">
					<h1>
						Pesquisa de raça
					</h1>
				</div>

				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/racas/novo}"> <i
							class="glyphicon  glyphicon-plus-sign"></i> <span
							class="hidden-xs  hidden-sm">Nova raça</span>
						</a>
					</div>
				</div>
		</div>
	</div>
	

	
</div>

<div class="container-fluid">
	<form method="GET" class="form-vertical  js-form-loading" th:object="${racaFilter}">
		
		<div class="row">
			<div class="form-group  col-sm-6" >
				<label class="control-label" for="nome">Nome</label>
				<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
			</div>
			
			<div class="form-group  col-sm-6">
				<label class="control-label" for="especie">Espécie</label>
				<select id="estilo" class="form-control" th:field="*{especie}">
                    <option value="">Todas as espécies</option>
                    <!-- <option th:each="especie : ${especies}" th:text="${especie.nome}" th:value="${especie.codigo}"></option> -->
                    <option th:each="especie : ${especies}" th:value="${especie}" th:text="#{|tipoEspecie.${especie}|}"></option>
                </select>
			</div>
		</div>
		<button type="submit" class="btn  btn-primary">Pesquisar</button>
	</form>
	
	<div class="table-responsive  qp-tabela-pesquisa">
		<table id="tabela-racas" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
			<thead class="aw-table-header-solid">
				<tr>
					<th class="qp-table-checkbox" sec:authorize="hasRole('ROLE_CADASTRAR_RACA')">
						<input type="checkbox">
					</th>
					<th class="table-pesq-col-codigo">Código</th>
					<th class="table-pesq-raca-col-nome">
						<a th:href="${pagina.urlOrdenada('nome')}" th:remove="${pagina.vazia} ? tag">
							<span>Nome</span>
							<span class="dropup" th:remove="${pagina.descendente('nome')} ? tag" th:if="${pagina.ordenada('nome')}">
								<span class="caret"></span>
							</span>
						</a>
					</th>
					<th class="table-pesq-raca-col-espécie">
					<a th:href="${pagina.urlOrdenada('especie')}" th:remove="${pagina.vazia} ? tag">
							<span>Espécie</span>
							<span class="dropup" th:remove="${pagina.descendente('especie')} ? tag" th:if="${pagina.ordenada('especie')}">
								<span class="caret"></span>
							</span>
						</a>
					</th>
					<th class="table-pesq-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_RACA')">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="raca : ${pagina.conteudo}">
					<td class="qp-table-checkbox" sec:authorize="hasRole('ROLE_CADASTRAR_RACA')">
						<input type="checkbox">
					</td>
					<td th:text="${raca.codigo}" class="text-center"></td>
					<td th:text="${raca.nome}">
						<!--
						<a th:href="@{/racas/{codigo}(codigo=${raca.codigo})}" th:text="${raca.nome}"></a>
						  -->
					</td>
					<td th:text="#{|tipoEspecie.${raca.especie}|}"></td>
					<td class="table-pesq-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_RACA')">
						<div class="btn-group">
							<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/racas/{codigo}(codigo=${raca.codigo})}">
								<i class="glyphicon glyphicon-pencil" style="cursor:pointer"></i>
							</a>
							<a class="btn  btn-link  btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-trash" style="cursor:pointer"
									data-toggle="modal" data-target="#confirmaExclusaoModal"  
									data:nome="${raca.nome}" 
									data:url-deletar="@{/racas/{codigo}(codigo=${raca.codigo})}"></i>
							</a>
						</div>
					</td>
				</tr>
				<tr th:if="${pagina.vazia}">
					<td colspan="5" class="text-center">Nenhuma raça cadastrada!</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- PAGINAÇÃO -->
	<div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
		<nav>
			<ul class="pagination" th:with="paginaAtual=${pagina.atual}">
				<li th:class="${pagina.primeira} ? disabled">
					<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
				</li>
				<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
					<li th:class="${paginaAtual == numeroPagina} ? active">
						<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
					</li>
				</th:block>
				<li th:class="${pagina.ultima} ? disabled">
					<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
				</li>
			</ul>
		</nav>
	</div>
		
</div>

<div class="modal fade" id="confirmaExclusaoModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form th:action="@{/racas}" method="POST">
				<input type="hidden" name="_method" value="DELETE"/>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Excluir raça</h4>
				</div>
				<div class="modal-body">
					<span>Tem certeza?</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>
			</form>
		</div>
	</div>
</div>

</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/excluir-modal.js}"></script>
</th:block>

</body>
</html>