<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorate="~{layout/layout-default}">

<head>
	<!--<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pesquisa-racas.css}"/>  -->
</head>

<body>

<section layout:fragment="conteudo">
	
	<!-- HEADER E BOTÃO CADASTRO  -->
	<th:block th:replace="fragments/header-pesquisa :: headerPesquisa ('racas/novo', 'raça')"></th:block>
	
	<div class="container-fluid">
		<form method="GET" class="form-vertical  js-form-loading" th:object="${racaFilter}">
			
			<!-- MENSAGEM DE SUCESSO OU FALHA DA EXCLUSÃO-->
			<div th:replace="fragments/mensagem-exclusao :: mensagemExclusao"></div>
			
			<div class="row">
				<div class="form-group  col-sm-6" >
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
				</div>
				
				<div class="form-group  col-sm-6">
					<label class="control-label" for="especie">Espécie</label>
					<select id="estilo" class="form-control  js-select2" th:field="*{especie}">
	                    <option value="">Todas as espécies</option>
	                    <!-- <option th:each="especie : ${especies}" th:text="${especie.nome}" th:value="${especie.codigo}"></option> -->
	                    <option th:each="especie : ${especies}" th:value="${especie}" th:text="#{|tipoEspecie.${especie}|}"></option>
	                </select>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
			<!-- <button type="reset" value="Reset"></button> -->
		</form>
		
		<div class="table-responsive  qp-tabela-pesquisa">
			<table id="tabela-racas" class="table  table-hover">
				<thead class="aw-table-header-solid">
					<tr>
						<th class="table-pesq-raca-col-nome">
						 	<th:block th:replace="fragments/ordenacao :: order (${pagina}, 'nome', 'Nome')"></th:block>
						</th>
						<th class="table-pesq-raca-col-especie">
							<th:block th:replace="fragments/ordenacao :: order (${pagina}, 'especie', 'Espécie')"></th:block>
						</th>
						<th class="table-pesq-col-acoes"> <!-- sec:authorize="hasRole('ROLE_CADASTRAR_RACA')"> -->Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="raca : ${pagina.conteudo}">
						<td th:text="${raca.nome}">
							<!--
							<a th:href="@{/racas/{codigo}(codigo=${raca.codigo})}" th:text="${raca.nome}"></a>
							  -->
						</td>
						<td class="table-pesq-raca-col-especie" th:text="#{|tipoEspecie.${raca.especie}|}"></td>
						<td class="table-pesq-col-acoes"> <!-- sec:authorize="hasRole('ROLE_CADASTRAR_RACA')"> -->
							<div class="btn-group">
								<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" th:href="@{/racas/{codigo}(codigo=${raca.codigo})}">
									<i class="glyphicon glyphicon-pencil" style="cursor:pointer"></i>
								</a>
								<a class="btn  btn-link  btn-xs  js-tooltip" title="Excluir">
									<i class="glyphicon glyphicon-remove" style="cursor:pointer"
										data-toggle="modal" data-target="#confirmaExclusaoModal"  
										data:nome="${raca.nome}" 
										data:url-deletar="@{/racas/{codigo}(codigo=${raca.codigo})}"></i>
								</a>
							</div>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="5" class="text-center">Nenhuma raça cadastrada!</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- PAGINAÇÃO -->
		<th:block th:replace="fragments/paginacao :: paginacao"></th:block>
			
	</div>
	
	<!-- MODAL DE EXCLUSAO -->
	<th:block th:replace="fragments/modal-exclusao :: modalExclusao ('racas', 'raça')"></th:block>

</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/excluir-modal.js}"></script>
</th:block>

</body>
</html>